  .row {
    -webkit-box-orient: horizontal;
    display: flex;
    flex-direction: row;
  }
  .wrap {
    display: box;
    -webkit-box-orient: horizontal;
    display: flex;
    flex-direction: wrap;
  }
  .column {
    display: box;
    -webkit-box-orient: vertical;
    display: flex;
    flex-direction: column;
  }
  
  .start-cen {
    -webkit-box-align: center;
    -webkit-box-pack: start;
    align-items: start;
    justify-content: center;
  }
  
  .cen-space {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .cen-around {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: space-around;
  }
  
  .cen-start {
    -webkit-box-align: start;
    -webkit-box-pack: justify;
    align-items: center;
    justify-content: start;
  }
  
  .cen-end {
    -webkit-box-align: end;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: flex-end;
  }
  .end-center{
    align-items: flex-end;
    justify-content:center;
  }
  .end-space{
    align-items: flex-end;
    justify-content:space-between;
  }
  .cen-between {
    -webkit-box-align: end;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: space-between;
  }
  .cen-center {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
  }
  
  .flex-auto {
    flex: auto;
  }
  
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .alignMiddle{
    vertical-align: middle;
  }